doctype html
html
  head
    title Get Room by Name
    script(src='https://code.jquery.com/jquery-3.6.0.min.js')
  body
    h1 Get Room by Name

    form(id="get-room-form")
      div
        label(for="room-name") Room Name:
        input(type="text", name="room-name", id="room-name")
      br
      button(type="submit") Get Room

    script.
      $(document).ready(function() {
        $('#get-room-form').submit(function(event) {
          event.preventDefault(); // Prevent the default form submission

          const roomName = $('#room-name').val();
          if (roomName) {
            fetch('/rooms/roomname/' + roomName)
              .then(response => response.json())
              .then(data => {
                console.log(data);
                // Handle the response data here, e.g., display it on the page
              })
              .catch(error => {
                console.error('Error:', error);
                // Handle errors here, e.g., display an error message to the user
              });
          } else {
            alert('Please enter a room name');
          }
        });
      });
