doctype html
html
  head
    title Update Room
  body
    h1 Update Room

    form(action=`/rooms/${roomId}`, method="PUT")
      div
        label(for="room-type") New Room Type:
        input(type="text", name="type", id="room-type")
      div
        label(for="room-state") New Room State:
        input(type="text", name="state", id="room-state")
      div
        button(type="submit") Update Room
